

span.cell {
    margin: 0px;
    display: inline-block;
    height: 80px;
    width: 80px;
    border: solid thin blue;
    padding-top: 20px;
}
div#upBorder{
    margin: auto;
    text-align: center;
}

div#wzorzec{
    margin: auto;
    padding-top: 40px;
    margin-top: 60px;
    height: 100px;
    width: 120px;
    border: solid thin blue;
     border-radius: 20px;
    text-align: center;
}
div#scene{
    position: relative;
   
    border: solid thin gray;
    height: 150px;
}
span#target{
    display: inline-block;
    margin: auto;
    margin-left: 50%;
    height: 130px;
    border: solid thin green;
    border-radius: 20px;
    margin-top: 10px;
    width: 130px;
}
input#stop,input#start{
    width: 200px;
    padding: 10px;
    margin-left: 50%;
    margin-top: 50px;
}